@import "../../../../styles/setup/functions";

.post-stats-data {
  margin: rem(50px) rem(32px) 0 rem(32px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  flex-grow: 1;

  .post-stats-data-item {
    display: flex;
    flex-direction: column;
    gap: rem(5px);
    height: rem(100px);
    width: 100%;

    .post-stats-data-item-title {
      display: flex;
      align-items: center;
      gap: rem(5px);
      color: var(--color-text-gray);

      .btn-post-stats-data-item-info {
        color: var(--color-text-gray);
        position: relative;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
      }

      .post-stats-info-text {
        display: flex;
        flex-direction: column;
        gap: rem(10px);

        h1 {
          color: black;
        }

        p {
          font-size: rem(15px);
        }
      }

      .btn-go-back {
        border: 1px solid var(--color-border);
        border-radius: 25px;
        height: rem(35px);

        span {
          color: black;
          font-size: rem(15px);
          font-weight: 700;
        }

        &:hover {
          background-color: var(--color-hover-light);
        }
      }
    }
  }
}
