.playback-rate-picker-modal {
  height: rem(300px);
  width: rem(260px);
  position: absolute;
  left: 50%;
  top: rem(40px);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: rem(15px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100;

  &.modal-above {
    bottom: rem(40px);
    top: auto;
  }

  &.full-screen {
    left: rem(-93px);
  }

  .tippy.full-screen {
    left: 90% !important;
  }

  .playback-rate-picker-modal-main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    h1 {
      font-size: rem(20px);
      letter-spacing: 0.5px;
      margin-bottom: rem(10px);
    }
    .playback-rate-picker-modal-list {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .playback-rate-picker-modal-list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &:hover {
          .playback-rate-picker-modal-list-item-check-box.unchecked {
            box-shadow: 0 0 0 7.5px var(--color-text-light);
          }
        }

        .playback-rate-picker-modal-list-item-label {
          font-size: rem(15px);
          letter-spacing: 0.5px;
        }

        .playback-rate-picker-modal-list-item-check-box {
          display: flex;
          justify-content: center;
          align-items: center;

          width: rem(20px);
          height: rem(20px);
          border-radius: 50%;
          border: 2px solid var(--color-text-gray);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.2s ease-in-out;
          background-color: transparent;
          position: relative;

          &.checked {
            width: rem(24px);
            height: rem(24px);
            border: none;

            svg {
              transform: translateX(2.5px);
            }
          }
        }
      }
    }
  }
}
