.user-preview-modal {
  display: flex;
  flex-direction: column;
  gap: rem(5px);
  position: absolute;
  top: rem(55px);
  left: 50%;
  transform: translate(-50%);
  width: rem(280px);
  height: max-content;
  background-color: white;
  padding: rem(12px) rem(16px);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1500;

  .user-preview-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-preview-modal-user-info {
    display: flex;
    flex-direction: column;

    .post-preview-modal-user-info-title-container {
      display: flex;
      align-items: center;
      gap: rem(5px);

      span {
        font-size: rem(15px);
        font-weight: 600;
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }

      .post-preview-modal-user-info-blue-check-mark {
        width: rem(20px);
        height: rem(20px);
      }

      .logo-container {
        width: rem(18px);
        height: rem(18px);
        border-radius: 5px;
        background-color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(3px);

        svg {
          stroke: white;
        }
      }
    }

    .post-preview-modal-user-info-username {
      color: var(--color-text-gray);
      font-size: rem(13px);
    }

    .post-preview-modal-user-info-bio {
      font-size: rem(15px);
      margin: rem(10px) 0;
      color: black;
    }
  }

  .post-preview-modal-user-info-following-stats {
    display: flex;
    gap: rem(20px);

    .post-preview-modal-user-info-following-stats-item {
      font-size: rem(15px);
      color: var(--color-text-gray);
      cursor: pointer;
      
      &::first-letter {
        font-weight: 600;
        color: black;
      }

      &:hover {
        text-decoration: underline black;
      }
    }
  }
}
