@import "../../../styles/setup/functions";

.playback-rate-picker-main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  h1 {
    font-size: rem(20px);
    letter-spacing: 0.5px;
    margin-bottom: rem(10px);
  }
}
