@import "../../../../styles/setup/functions";

.post-preview-action-btns {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: rem(32px);

  &:last-child {
    margin-right: rem(50px);
  }
}
