@import "../../../../styles/setup/functions";

.post-preview-wrapper {
  padding: rem(12px) rem(16px);
  display: flex;
  gap: rem(12px);
  width: 100%;

  &.with-repost {
    padding-top: rem(2px);
  }

  .post-preview-main-container {
    flex: 1;
  }

  .post-preview-body {
    margin-top: rem(5px);
    font-size: rem(14px);
    line-height: 1.5;

    .react-player-wrapper {
      position: relative;
      min-height: rem(250px);
      height: fit-content;
      max-height: rem(500px);
      width: 100%;
      padding-top: 0;
      background-color: black;
      border-radius: 15px;
      margin: rem(14px) 0;

      .react-player {
        position: static;

        video {
          max-height: rem(500px);
        }
      }
    }
  }
}
