/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}

@mixin layoutGTC($max) {
  grid-template-columns:
    minmax($layoutPadding, 1fr)
    minmax(auto, $max)
    minmax($layoutPadding, 1fr);
}

/* Media  Mixins */

//aspect ratio mixin
@mixin aspect-ratio($width: 1, $height: 1) {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: calc($height / $width) * 100%;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  > img {
    height: 100%;
    object-fit: cover;
  }
}

@mixin page {
  max-width: rem(620px);
}

@mixin scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }

  & {
    scrollbar-width: none;
  }

  & {
    -ms-overflow-style: none;
  }

  &::-webkit-scrollbar {
    width: 0.2em;
    background-color: transparent;
  }
}

@mixin remove-content-btn {
  .btn-remove-content {
    position: absolute;
    height: rem(30px);
    width: rem(30px);
    top: 0;
    left: 0;
    border-radius: 50%;
    padding: rem(8px);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: rgb(63,64,60);
    color: white;
    margin: rem(8px);
    &:hover {
      filter: brightness(1.2);
    }

    .remove-content-icon {
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      width: rem(18px);
      height: rem(18px);
    }
  }
}
