@import "../../../styles/setup/functions";

.element-title-container {
  position: absolute;
  top: rem(18px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1500;
  padding: rem(3px) rem(6px);
  border-radius: 5px;
  font-size: rem(12px) !important;
  background-color: rgb(0, 0, 0) !important;
  opacity: 0.7 !important;
  width: max-content;

  .element-title {
    width: 100%;
    color: rgb(255, 255, 255) !important;
    opacity: 1;
  }
}
