@import "../../../styles/setup/functions";

.post-list-container {
  position: relative;
  min-height: rem(100px);
  .content-loader-container {
    position: relative;
    min-height: rem(100px);
  }

  .no-res-msg {
    text-align: center;
    padding: rem(20px);
    font-weight: 500;
    font-size: rem(16px);
    border-radius: rem(10px);
    font-style: oblique;
  }
}
