.post-edit-action-btns {
  display: flex;
  gap: rem(5px);
 
  .post-edit-action-btn {
    height: rem(36px);
    width: rem(36px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    position: relative;
    padding: rem(5px);
    cursor: pointer;

    &.disabled {
      .post-edit-action-icon-container {
        cursor: default;
        > * {
          opacity: 0.5;
        }
      }
    }

    .post-edit-action-icon-container {
      z-index: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      > * {
        height: rem(18px);
        width: rem(18px);
        color: var(--color-primary);
      }
    }

    &:not(.disabled) {
      &:hover {
        &::before {
          background-color: var(--color-primary);
          opacity: 0.2;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
      transition: opacity 0.1s, transform 0.1s;
    }
  }

  .emoji-picker-container {
    .emoji-picker-modal-container {
      position: absolute;
      bottom: -425px;
      left: 50%;
      transform: translateX(-65%);
      z-index: 200;
    }
  }
}
