.post-preview,
.mini-post-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--color-secondary-border);
  transition: all 0.1s ease-in-out;

  .post-preview-content-wrapper {
    padding: rem(12px) rem(16px);
    display: flex;
    gap: rem(12px);
    width: 100%;
    .post-preview-main-container {
      flex: 1;

      .post-preview-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .post-preview-header-main {
          display: flex;
          align-items: center;
          gap: rem(5px);

          .user-info {
            display: flex;
            align-items: center;
            gap: rem(5px);
            font-size: rem(14px);
            font-weight: 700;

            .post-preview-blue-check-mark {
              width: rem(20px);
              height: rem(20px);
            }

            .logo-container {
              width: rem(20px);
              height: rem(20px);
              border-radius: 5px;
              background-color: var(--color-primary);
              display: flex;
              align-items: center;
              justify-content: center;
              padding: rem(3px);

              svg {
                stroke: white;
              }
            }
          }

          .post-time {
            font-size: rem(12px);
          }
        }
      }
    }

    .post-preview-body {
      margin-top: rem(5px);
      font-size: rem(14px);
      line-height: 1.5;

      .post-preview-text {
        word-break: break-all;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: rem(14px);

        br {
          display: block;
          content: "";
          width: 100%;
          margin-top: rem(8px);
        }

        a {
          display: inline-block;
          color: var(--color-primary);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: rem(200px);
          line-height: 1;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .react-player-wrapper {
        position: relative;
        min-height: rem(250px);
        height: fit-content;
        max-height: rem(500px);
        width: 100%;
        padding-top: 0;
        background-color: black;
        border-radius: 15px;
        margin: rem(14px) 0;

        .react-player {
          position: static;

          video {
            max-height: rem(500px);
          }
        }
      }
    }

    .replying-to-list-container {
      display: flex;
      align-items: flex-start;
      gap: rem(5px);
      height: rem(20px);
      color: var(--color-text-gray);

      .reply-to-user-link {
        color: var(--color-primary);
      }
    }
  }
}

.post-preview {
  .post-preview-repost-container {
    display: flex;
    align-items: center;
    padding: rem(12px) rem(16px) 0 rem(16px);
    gap: rem(10px);

    & * {
      color: var(--color-text-gray);
    }

    .repost-icon-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: rem(50px);
      height: rem(20px);
    }

    .post-preview-repost-user {
      font-size: rem(14px);
      font-weight: 700;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .post-preview-content-wrapper {
    &.with-repost {
      padding-top: rem(2px);
    }
  }

  .btn-show-thread {
    display: flex;
    align-items: center;
    height: rem(50px);
    width: 100%;
    color: var(--color-primary);
    padding-left: rem(66px);
    transition: all 0.1s ease-in-out;
  }

  &:hover {
    border-bottom: 1px solid var(--color-hover-light);

    .post-preview-repost-container,
    .post-preview-content-wrapper,
    .btn-show-thread {
      background-color: var(--color-hover-light);
    }

    .btn-show-thread {
      &:hover {
        background-color: var(--color-hover-medium);
      }
    }
  }
}

.mini-post-preview {
  opacity: 0.5;
  flex-direction: row;
  align-items: center;
  gap: rem(20px);
  border-bottom: none;
  padding: rem(5px) 0;

  &.reply {
    opacity: 1;
  }

  .mini-post-preview-side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(5px);

    .user-img {
      width: rem(45px);
      height: rem(45px);
    }
    .post-line {
      flex-grow: 1;
      border-left: 1px solid var(--color-text-gray);
      border-radius: 5px;
    }
  }

  .post-preview-main-container {
    display: flex;
    flex-direction: column;
    gap: rem(5px);

    .post-preview-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: rem(40px);

      .post-preview-text {
        font-size: rem(20px);
      }
    }

    .replying-to-list-container {
      align-items: center;
      height: rem(50px);
    }
  }
}
