.post-preview {
  display: flex;
  gap: rem(12px);
  width: 100%;
  padding: rem(12px) rem(16px);
  border-bottom: 1px solid var(--color-secondary-border);

  .post-preview-main-container {
    flex: 1;

    .post-preview-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .post-preview-header-main {
        display: flex;
        align-items: center;
        gap: rem(5px);

        .user-info {
          display: flex;
          align-items: center;
          gap: rem(5px);
          font-size: rem(14px);
          font-weight: 700;

          .post-preview-blue-check-mark {
            width: rem(20px);
            height: rem(20px);
          }

          .logo-container {
            width: rem(20px);
            height: rem(20px);
            border-radius: 5px;
            background-color: var(--color-primary);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: rem(3px);

            svg {
              stroke: white;
            }
          }
        }

        .post-time {
          font-size: rem(12px);
        }
      }
    }

    .post-preview-body {
      margin-top: rem(5px);
      font-size: rem(14px);
      line-height: 1.5;

      .post-preview-text {
        word-break: break-all;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        br {
          display: block;
          content: '';
          width: 100%;
          margin-top: rem(8px);
        }

        a {
          display: inline-block;
          color: var(--color-primary);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: rem(200px);
          line-height: 1;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .react-player-wrapper {
        position: relative;
        min-height: rem(250px);
        height: fit-content;
        max-height: rem(500px);
        width: 100%;
        padding-top: 0;
        background-color: black;
        border-radius: 15px;
        margin: rem(14px) 0;

        .react-player {
          position: static;

          video {
            max-height: rem(500px);
          }
        }
      }
    }
  }

  &:hover {
    background-color: var(--color-hover-light);
    border-bottom: 1px solid var(--color-hover-light);
  }
}
