@import "../../../styles/setup/functions";

.confirm-delete-post-draft-modal-header {
  display: flex;
  flex-direction: column;

  .confirm-delete-post-draft-title {
    font-size: rem(20px);
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: rem(10px);
  }

  .save-post-draft-description {
    font-size: rem(15px);
    font-weight: 400;
    color: var(--color-text-gray);
  }
}

.confirm-delete-post-draft-modal-btns-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: rem(100px);

  .btn-discard-post-draft {
    width: 100%;
    height: rem(45px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: var(--color-danger);
    span {
      font-size: rem(15px);
      font-weight: 700;
      color: white;
    }
  }

  .btn-close-modal {
    width: 100%;
    height: rem(45px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    border: 1px solid var(--color-border);
    span {
      font-size: rem(15px);
      font-weight: 700;
      color: black;
    }
  }
}
