@import "../../../styles/setup/functions";

.gif-display {
  position: relative;
  cursor: pointer;
  margin-top: rem(5px);

  img {
    border-radius: 25px;
  }

  .gif-display-content-container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: rem(3px);
    margin: rem(15px);

    > *:not(.description-container),
    .btn-open-description {
      display: flex;
      align-items: center;
      justify-content: center;
      height: rem(20px);
      padding: rem(2px) rem(4px);
      background-color: var(--color-text);
      color: white;
      font-size: rem(12px);
      font-weight: 600;
    }

    .btn-toggle-play {
      padding: 0;
      width: rem(20px);
      border-radius: 5px 0 0 5px;
    }

    .description-container {
      position: relative;
      .btn-open-description {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

.modal.gif-description {
  .gif-description-title-text-container {
    width: 100%;

    h1 {
      font-size: rem(26px);
    }

    p {
      font-size: rem(15px);
      padding: rem(8px) 0 rem(15px) 0;
      color: var(--color-text-gray);
    }
  }

  .btn-close-image-description {
    padding: rem(16px) rem(32px);
    font-weight: 700;
    border: 1px solid var(--color-border);
    border-radius: 25px;
    width: 100%;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: var(--color-hover);
    }
  }
}
