.nav-list {
  li {
    height: rem(60px);

    .link-container {
      width: fit-content;
      border-radius: 35px;
      padding: rem(10px);

      &:hover {
        background-color: var(--color-hover);
      }

      a {
        display: flex;
        align-items: center;
        gap: rem(15px);
        .active-icon,
        .unactive-icon {
          width: rem(26px);
          height: rem(26px);
        }

        &.active {
          .unactive-icon {
            display: none;
          }

          .active-icon {
            display: block;
          }
        }

        .active-icon {
          display: none;
        }

        span {
          font-size: rem(20px);
        }
      }
    }
  }
}
