.side-bar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: rem(16px);
  padding: rem(12px);

  .main-container {
    display: flex;
    flex-direction: column;
    gap: rem(16px);

    .logo-container {
      padding: rem(16px) rem(10px);

      img {
        width: rem(32px);
        height: rem(32px);
      }
    }
  }

  .btn-create-post {
    font-size: rem(18px);
    height: rem(50px);
    width: rem(225px);
  }

  .user-preview-container {
    position: relative;
    margin: rem(16px) 0;
    padding: rem(6px) rem(12px);
    border-radius: 35px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-hover);
    }
  }

}
