@import "../../../styles/setup/mixins.scss";
@import "../../../styles/setup/functions";

.compose {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 2000;

  .post-edit {
    z-index: 200;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: rem(100px) 0;
    z-index: 2500;

    &.save-mode {
      opacity: 1;
    }

    @include scrollbar-hidden;

    .content-container .main-content {
      .post-edit-text-area {
        &.not-first-post {
          min-height: 0;
        }
      }
      .post-edit-imgs {
        &.cols-1 {
          .post-edit-img-container {
            height: rem(300px);
          }
        }
      }

      .btn-replries-location-container {
        .btn-toggle-repliers-container {
          .post-edit-option.repliers {
            position: fixed;
            top: 40%;
            left: 30%;
          }
        }
      }

      .btns-container {
        .post-edit-action-btns {
          .emoji-button-container {
            .emoji-picker-container {
              .emoji-post-edit-option-container {
                position: fixed;
                top: 47.5%;
                left: 50%;
              }
            }
          }
        }
      }
    }
  }
}
