@import "../../../styles/setup/functions";

.location-search-bar {
    position: relative;
    width: 85%;
    display: flex;
    align-items: center;
    height: rem(40px);
    border-radius: 35px;
    border: 1px var(--color-border) solid;
    box-shadow: 0 0 0.5rem rgba(black, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    padding: rem(5px) rem(15px);
    margin: auto;
  
    &.focused {
      border: 2px var(--color-primary) solid;
      .location-search-bar-input {
        width: 100%;
      }
  
      .close-icon {
        display: block;
        height: rem(24px);
        width: rem(24px);
        cursor: pointer;
      }
    }
  
    .magnifing-glass-icon-label {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .location-search-bar-input {
      width: fit-content;
      height: 100%;
      border: none;
      outline: none;
      font-size: 1rem;
      padding-inline-start: rem(5px);
  
      &::placeholder {
        color: gray;
      }
    }
  
    .close-icon {
      display: none;
    }
  }
  