@import "../../../styles/setup/functions";

.gif-category-preview {
  position: relative;
  width: rem(298px);
  height: rem(150px);
  cursor: pointer;

  img {
    object-fit: fill;
  }

  .gif-category-preview-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: rem(20px);
    font-weight: 700;
    margin: rem(8px);
  }
}
