.post-stats {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;

  .post-stats-body {
    display: flex;
    flex-direction: column;
    padding: rem(12px) rem(16px);
    width: rem(600px);
    min-height: rem(320px);
    background-color: var(--color-background);
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 1000;

    .post-stats-main-container {
      display: flex;

      .not-logged-in-user-post-msg {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: rem(400px);
        height: rem(200px);
        margin: 0 auto;

        .not-logged-in-user-post-msg-text {
          display: flex;
          flex-direction: column;
          gap: rem(10px);

          p {
            color: var(--color-text-gray);
          }
        }

        .btn-go-back {
          display: flex;
          justify-content: center;
          align-items: center;
          height: rem(50px);
          background-color: black;
          border-radius: 25px;
          color: white;
          font-size: rem(18px);
          font-weight: 700;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }
      }

      .post-stats-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .post-action-stats {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          height: rem(75px);
          border-radius: 15px;
          border: 1px solid var(--color-border);

          .post-action-stats-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: rem(5px);
            width: rem(100px);
            height: rem(75px);
            color: var(--color-text-gray);
            transition: all 0.3s ease-in-out;

            .post-action-stats-item-count {
              font-size: rem(15px);
              font-weight: 600;
              color: black;
            }
          }
        }

        .post-stats-data {
          margin: rem(50px) rem(32px) 0 rem(32px);
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
          flex-grow: 1;

          .post-stats-data-item {
            display: flex;
            flex-direction: column;
            gap: rem(5px);
            height: rem(100px);
            width: 100%;
            .post-stats-data-item-title {
              display: flex;
              align-items: center;
              gap: rem(5px);
              color: var(--color-text-gray);

              .btn-post-stats-data-item-info-container {
                display: flex;
                align-items: flex-end;
                cursor: pointer;
                position: relative;
              }
            }
          }
        }

        .content-loader-container {
          position: relative;
          width: 100%;
          height: rem(100px);
        }
      }
    }
  }
}
