@import "../../../styles/setup/functions";

.btn-repost-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: rem(8px);
  width: rem(175px);
  padding: rem(12px) rem(16px);
  transition: all 0.1s ease-in-out;

  > * {
    color: var(--color-text);
  }

  span {
    font-size: rem(15px);
    font-weight: 600;
    text-transform: capitalize;
  }

  &:hover {
    background-color: var(--color-hover);
  }
}
