.poll-display-option-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: rem(30px);
  position: relative;

  span {
    font-size: rem(15px);
    font-family: var(--font-primary);
    color: var(--color-text-gray);
  }

  .poll-option-content {
    display: flex;
    align-items: center;
    gap: rem(5px);
    padding-inline-start: rem(5px);
    z-index: 200;
  }

  .poll-option-percentage {
    padding-inline-end: rem(1px);
    z-index: 200;
  }

  .poll-display-option-result-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--color-border);
    border-radius: 5px;
    z-index: 100;
  }
}
