@import "../../../../styles/setup/mixins";
@import "../../../../styles/setup/functions";

.post-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--color-secondary-border);
  transition: all 0.1s ease-in-out;
}

.post-preview {
  &:hover {
    border-bottom: 1px solid var(--color-hover-light);

    .post-preview-repost-container,
    .post-preview-wrapper,
    .btn-show-thread {
      background-color: var(--color-hover-light);
    }

    .btn-show-thread {
      &:hover {
        background-color: var(--color-hover-medium);
      }
    }
  }
}
