.gif-list {
  position: relative;

  .play-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(10px);

    span {
      color: var(--color-text-gray);
    }
  }

  .gif-list-main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: rem(5px);
  }

  .gif-list-item {
    height: 120px;
    flex-grow: 1;
    position: relative;
    cursor: pointer;

    img {
      object-fit: fill;
    }
  }
}
