.react-player-container {
  position: relative;
  transition: all 0.2s ease-in-out;

  .react-player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }

  video {
    border-radius: 15px;
  }

  &:hover {
    .video-custom-controls-main-container {
      opacity: 1;
    }

    .count-down-timer-container {
      opacity: 0;
    }
  }
}
