.gif-list {
  position: relative;

  .play-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(10px);

    span {
      color: var(--color-text-gray);
    }
  }

  .gif-list-main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(5px);
  }

  .gif-list-item {
    position: relative;
    cursor: pointer;
  }
}
