.gif-list {
  position: relative;

  .play-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(10px);

    span {
      color: var(--color-text-gray);
    }
  }

  .gif-list-main-container {
    column-count: 3;
    column-gap: rem(4px);
  }
  .gif-list-item {
    position: relative;
    cursor: pointer;
  }
}
