.post-schedule-date-title-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: rem(10px);

  &.link-active {
    cursor: pointer;
    &:hover {
      .post-schedule-date-title {
        text-decoration: underline;
      }
    }
  }

  .post-schedule-date-icon {
    height: rem(22px);
    width: rem(22px);
  }

  .post-schedule-date-title {
    font-size: rem(13px);
    color: var(--color-text-gray);
  }
}
