.post-preview {
  display: flex;
  gap: rem(12px);
  width: 100%;
  padding: rem(12px) rem(16px);
  border-bottom: 1px solid var(--color-secondary-border);

  .user-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(50px);
    height: rem(50px);

    img {
      border-radius: 50%;
      transition: filter 0.3s ease-in-out;
    }

    img:hover {
      filter: brightness(75%);
    }
  }

  .main-container {
    flex: 1;

    .post-preview-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .post-preview-header-main {
        display: flex;
        align-items: center;

        .user-info {
          display: flex;
          font-size: rem(14px);
          font-weight: 700;
          margin-right: rem(5px);
        }

        .post-time {
          font-size: rem(12px);
        }
      }
    }
  }

  &:hover {
    background-color: var(--color-hover-light);
    border-bottom: 1px solid var(--color-hover-light);
  }
}
