.side-bar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem(16px);

  .main-container {
    display: flex;
    flex-direction: column;
    gap: rem(16px);

    .logo-container {
      padding: rem(16px) rem(10px);

      img {
        width: rem(32px);
        height: rem(32px);
      }
    }
  }

  .btn-create-post {
    font-size: rem(18px);
    height: rem(50px);
    width: rem(225px);
  }
}
