.progress-bar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(13px);

  .text-danger {
    color: var(--color-danger);
  }
}
