@import "../../../../../styles/setup/mixins";
@import "../../../../../styles/setup/functions";

.gif-picker-header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(8px) rem(10px);
  height: rem(50px);
  width: 100%;
  background-color: white;
  opacity: 0.85;

  .gif-picker-header-title {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .gif-picker-header-btn {
    height: rem(35px);
    width: rem(35px);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    > * {
      height: rem(22px);
      width: rem(22px);
    }

    &:hover {
      background-color: var(--color-hover-light);
    }
  }
}
